:root {
  --board-width : 625px;
  --space-side-length : 86px;
  --space-padding : 5px;
  --board-padding : 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-container {
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  display: flex;
}


/*HEADING*/
h1 {
  padding: 5px;
  padding-bottom: 0;
  margin: 5px 0 5px 0px;

  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
}

#header-underline {
  width: 150px;
  height: 1px;
  background-color: darkslategray;
  margin-top: -10px;
  margin-bottom: 15px;
}



/*BOARD*/ 
.board {
  border-radius: 10px;
  padding: var(--board-padding);
  border: 2px solid darkblue;
  background-color: rgb(23, 145, 202);
  width: var(--board-width);
  margin: 0 50px; 
} 

.columns-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.space-container{
  height: var(--space-side-length);
  width: var(--space-side-length);
  padding: var(--space-padding);
}

.space {
  border: 2px solid #3263a3f5;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  
  border-radius: 50%;
  background-color: white;
}




/*SIDE SECTION*/  
.side-section {
  width: 400px;
  height: 500px;
  padding: 20px;
  margin-top: 65px;
  margin-left: 50px;
}

#play-btn {
  width: 200px;
  height: 75px;
  font-size: 2rem;
  background-color: rgb(100, 202, 31);
  border: 5px solid rgb(9, 78, 9);
  padding: 10px 5px;
  border-radius: 15px;
  color: white;
  margin-bottom: 25px;
}

#play-btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}

#play-btn:active {
  background-color: rgb(145, 219, 145);
}

#player-box-one {
  margin-bottom: 50px;
}

.game-info-display {
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: bold;
  margin-left: 20px;
}



/*TURN / WIN DISPLAY*/
.turn-win-display {
  margin-bottom: 20px;
}

#turn-value-display {
  display: inline-block;
}

.capatilize:first-letter {
  text-transform: capitalize;
}




/*PLAYER INFO BOX*/
#player-box-two {
  width: 300px;
  font-size: 1rem;
  line-height: 1.5;
  
  padding: 15px;
  border: 5px solid rgb(5, 12, 75);
  border-radius: 15px;
  background-color: rgb(32, 105, 139);
  color: white;
  margin-left: -10px;
}



/*DYNAMIC STYLINGS*/
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.darkened {
  filter: brightness(50%);
}

.highlight {
  border: 3px solid rgb(201, 131, 3);
  filter:brightness(100%);
}

.red-text {
  color: red;
}

.yellow-text {
  -webkit-text-stroke: 0.5px rgb(186, 194, 44);
  -webkit-text-fill-color:  rgb(247, 247, 3);
}

.animated {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
